
html {
    scroll-behavior: smooth;
     
}
/*responsive para mobiles*/
@media only screen and (max-width:768px){
  [class*="col-"] {
    width: 100%;
  }
}
/*Fin responsive para mobiles*/

/*responsive para monitores*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*Fin responsive para monitores*/

@keyframes hideVideo {
    0% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; 
}
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#enterButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BAA378; 
    color: #000000;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s 2s forwards;
    border-radius: 25px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transition: all 0.5s; 
}

#enterButton:hover {
    background-color: #000000; 
    color: #BAA378;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); 
    text-decoration: none;
}

/* Esta función elimina el subrayado de todos los enlaces*/
a {
  text-decoration: none;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#buttonm {
  appearance: button;
  background-color: #c3a022;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
 }
 
 #buttonm:after {
  background-clip: padding-box;
  background-color: #f3c622;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
 }
 
 #buttonm:main, button:focus {
  user-select: auto;
 }
 
 #buttonm:hover:not(:disabled) {
  filter: brightness(1.1);
 }
 
 #buttonm:disabled {
  cursor: auto;
 }
 
 #buttonm:active:after {
  border-width: 0 0 0px;
 }
 
 #buttonm:active {
  padding-bottom: 10px;
 }

body {
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 0;
padding: 0;
background-color: #F3F3F3;
}

header {
background-color: #1f1e1e; 
color: #BAA378; 
padding: 10px;
text-align: center;
font-size: 2em;
border-bottom: 3px solid #1f1e1e; 
}
  
  /*Menu*/
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #BAA378;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}


/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #755e34;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px  rgba(255, 255, 255, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.7s ease;

}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #96815a;
  color: white;
  transition: all 0.5s ease;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #96815a;
  color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*MENU FIN */

main {
margin: 15px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

section {
margin-bottom: 15px;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0,0,0,0.3);
width: 100vw;
height: auto;
margin: 15px;
padding: 20px;
box-sizing: border-box;
transition: 0.3s all ease-in-out;
}

section:hover {
box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

footer {
background-color: #BAA378; 
color: #000000; 
text-align: center;
padding: 10px;
width: 99.22%; 
left: 10%; 
}

.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 30%; 
height: 500px; 
margin: auto;
overflow: auto;
white-space: nowrap;
border: 2px solid #BAA378; 
display: flex;
flex-direction: column;
justify-content: space-between;
}


.card img {
width: 100%;
height: 60%; 
object-fit: cover; 
}

.card .container {
height: 40%; 
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
padding: 2px 16px;
}

img {
width: 10%;
height: auto;
}

.logo {
  position: absolute;
  width: 20%;
}

.logofotter {
  position: absolute;
  width: 7%;
  height: 7%;
}

.title {
  position: right;
  width: 80%;
}

/* Desde aqui se trabaja el estilo de la tarjeta discoteca */
#disco {
  overflow-y: auto;
  max-height: 500px;
}

#disco img {
  display: block;
  width: 100%;
  height: auto;  
  object-fit: contain;
}

#disco {
  font-family: 'Verdana', sans-serif; 
  line-height: 1.6; 
  text-align: center;
}

#disco h2 {
  text-transform: uppercase; 
  letter-spacing: 2px; 
}

#disco p {
  color: #666; 
  font-size: 18px; 
}

/* Desde aqui se trabaja el estilo de la tarjeta Sala de juegos */

#tratamientos {
  overflow-y: auto;
  max-height: 400px;
  font-family: 'Verdana', sans-serif; 
  line-height: 1.6; 
  text-align: center;
}

#tratamientos img {
  align-items: right;
  width: 50px;
  height: 50px;  
  object-fit: contain;
}


#gameroom {
  font-family: 'Verdana', sans-serif; 
  line-height: 1.6; 
  text-align: center;
  overflow-y: auto;
  max-height: 500px;
}

#gameroom img {
  display: block;
  width: 100%;
  height: auto;  
  object-fit: contain;
}

#gameroom h2 {
  text-transform: uppercase; 
  letter-spacing: 2px; 
}

#gameroom p {
  color: #666; 
  font-size: 18px; 
}

/* Desde aqui se trabaja el estilo de la tarjeta Sala de fiestas */

#partyroom {
  overflow-y: auto;
  max-height: 500px;
}

#partyroom img {
  display: block;
  width: 100%;
  height: auto;  
  object-fit: contain;
}

#partyroom {
  font-family: 'Verdana', sans-serif; 
  line-height: 1.6; 
  text-align: center;
}

#partyroom h2 {
  text-transform: uppercase; 
  letter-spacing: 2px; 
}

#partyroom p {
  color: #666; 
  font-size: 18px; 
}

/* Para ocultar el scroll de las tarjetas en navegadores Firefox*/
#disco, #gameroom, #partyroom #tratamientos {
  scrollbar-width: none;
}

/* Para ocultar el scroll de las tarjetas en navegadores Chrome, Edge, Safari*/

#disco::-webkit-scrollbar, #gameroom::-webkit-scrollbar, #partyroom::-webkit-scrollbar, #tratamientos::-webkit-scrollbar {
  display: none;
}

/* Boton de volver al inicio de cada tarjeta */
.back-to-top {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333; 
  color: #fff; 
  text-decoration: none; 
  border-radius: 5px; 
}


/* Estilo del formulario de contacto */
#logo-formulario {
  position: relative;
  width: 10%;
  top: -75px;
  height: auto;
  
  }

#titulo-reservas {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #BAA378;
  color: #000000;
  overflow-x: hidden;
}

form {
  position: relative;
  width: 80%;
  top: -70px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #000000;
  color: #BAA378;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
}

form select {
  width: 100%;
  padding: 15px; 
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000000;
  font-family: Arial, sans-serif; 
  font-size: 1em;
}


form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000000;
}

form select:hover {
  background-color: #000000;
  color: #BAA378;
}

form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000000;
}

#camposAlergias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#camposAlergias label {
  display: flex;
  align-items: center;
}

#camposAlergias input[type="checkbox"] {
  margin-right: 5px;
}

#IconosRS{
  float: right;
  width: 20px;
}

/* Centrar el título */
#postres h2 {
  text-align: center;
}

/* Centrar el título */
#aguas h2 {
  text-align: center;
}

/* Centrar el título */
#licores h2 {
  text-align: center;
}

/* Centrar el título */
#cervezas h2 {
  text-align: center;
}

/* Centrar el título */
#platos h2 {
  text-align: center;
}

/* Centrar el título */
#vinos h2 {
  text-align: center;
}
.social-icons {
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde el borde inferior según sea necesario */
  right: 10px; /* Ajusta la posición derecha según sea necesario */
  display: flex;
  gap: 10px;
}

.social-icons a img {
  width: 30px; /* Ajusta el tamaño según sea necesario */
  height: 30px;
}

/*Estilo del Scroll*/

::-webkit-scrollbar{
  width: 10px;


}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 9px grey;
  border-radius: 10px;   
}
::-webkit-scrollbar-thumb {
  background: #373229;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #544d40;
 
}
#No{
  overflow: hidden;
  
}